.venv/**
**/__pycache__/**
**/node_modules/**
music_controller/frontend/package-lock.json
music_controller/frontend/package.json
music_controller/frontend/static/frontend/main.js
music_controller/frontend/static/frontend/main.js.LICENSE.txt
music_controller/db.sqlite3